---
layout: page
title: Contact
---

<p>
    <a class="icon-link icon" title="Email" aria-label="Email" href="mailto:{{ site.email }}">
        {% include svg/email.svg %} Email
    </a>
    <br>
    <a class="icon-link icon" title="CV" aria-label="CV" href="{{ site.repository }}/raw/master/_files/{{ site.cv_file }}">
        {% include svg/cv.svg %} Curriculum Vitae
    </a>
    <br>
    <a class="icon-link icon" title="Google Scholar" aria-label="Google Scholar" href="{{ site.google_scholar.profile }}">
        {% include svg/google-scholar.svg %} Google Scholar
    </a>
    <br>
    <a class="icon-link icon" title="Github" aria-label="Github" href="{{ site.github.profile }}">
        {% include svg/github.svg %} Github
    </a>
    <br>
    <a class="icon-link icon" title="LinkedIn" aria-label="LinkedIn" href="{{ site.linkedin.profile }}">
        {% include svg/linkedin.svg %} LinkedIn
    </a>
    <br>
    <a class="icon-link icon" title="Twitter" aria-label="Twitter" href="{{ site.twitter.profile }}">
        {% include svg/twitter.svg %} Twitter
    </a>
    <br>
    <a class="icon-link icon" href="https://athenaeum.libs.uga.edu/handle/10724/35533">
        Ph. D. Dissertation
    </a>
    <br>
    <a class="icon-link icon" href="{{ site.repository }}/raw/master/_files/{{ site.dissertation_ms_file }}">
        M.S. Dissertation
    </a>
</p>


