<a class="page-link {% if page.url == '/education.html' %} active{% endif %}"
   href="education.html">Education</a>
<a class="page-link {% if page.url == '/experience.html' %} active{% endif %}"
   href="experience.html">Experience</a>
<a class="page-link {% if page.url == '/research-interests.html' %} active{% endif %}"
   href="research-interests.html">Research Interests</a>
<a class="page-link {% if page.url == '/publications.html' %} active{% endif %}"
   href="publications.html">Publications</a>
<a class="page-link {% if page.url == '/teaching-review.html' %} active{% endif %}"
   href="teaching-review.html">Teaching & Review</a>
<a class="page-link {% if page.url == '/conferences-presentations.html' %} active{% endif %}"
   href="conferences-presentations.html">Conferences & Presentations</a>
<a class="page-link {% if page.url == '/honors-awards.html' %} active{% endif %}"
   href="honors-awards.html">Honors & Awards</a>
<a class="page-link {% if page.url == '/hobbies.html' %} active{% endif %}"
   href="hobbies.html">Hobbies</a>
<a class="page-link {% if page.url == '/contact.html' %} active{% endif %}"
   href="contact.html">Contact</a>
